@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    background-color: hsl(0, 0%, 15%);
    color: #ffffff;

    font-family: 'Roboto Mono', monospace;
}

.bg-main {
    background: hsl(0, 0%, 15%);
}

.bg-side {
    background: hsl(0, 0%, 12%);
}

.file:hover {
    color: #d9d9d9;
    cursor: pointer;
}

.clr-gray {
    color: hsl(0, 0%, 65%);
}